@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.icon-left {
  height: 16px;
}
.icon-down {
  width: 8px;
  transform: rotate(270deg);
  margin: 0 8px;
}
.icon-phone {
  width: 25px;
  height: 25px;
  color: #5b62ba;
  margin: 0 5px 0 20px;
}
.icon-video {
  width: 25px;
  height: 25px;
  color: #5b62ba;
  margin: 0 5px 0 20px;
}
.icon-check {
  margin-left: 3px;
  width: 20px;
  height: 20px;
  color: #dcdcdc;
}
.icon-face {
  width: 25px;
  height: 25px;
  color: #000000;
}
.icon-face-big {
  width: auto;
  height: 40px;
}
.icon-heart {
  width: 25px;
  height: 25px;
  color: #737373;
  margin-left: 10px;
  margin-right: 5px;
}
.icon-photo {
  width: 20px;
  height: 20px;
}
.icon-emoji {
  width: 20px;
  height: 20px;
}

.select {
  border: none;
  position: relative;
}
.select-header {
  cursor: pointer;
}
.select-header span {
  font-size: 18px;
}
.select-header i {
  width: 9px;
}
.select-content {
  position: absolute;
  display: none;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
}
.select-item {
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.select.active .select-content {
  display: block;
}
.select.active .icon-down {
  color: transparent;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.workspace {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 1000px;
  max-width: 500px;
}

.first-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 20px;
}
.first-menu .avatar {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #dedcf1;
}
.first-menu .name {
  font-size: 22px;
  margin: 0 5px;
}
.first-menu #language {
  font-size: 20px;
}

.second-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
}
.second-menu .btn-translate {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
}

.menu-item {
  display: flex;
  align-items: center;
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding: 35px 25px;
  height: 500px;
  box-shadow: inset 0 50px 50px -50px #f1f0f5, inset 0 -50px 50px -50px #f1f0f5;
  overflow-y: scroll;
}

.message-img {
  max-width: 150px;
  max-height: 200px;
}

.bot-menu {
  padding: 20px;
}

.mes-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  height: 50px;
  width: calc(100% - 50px);
  margin: 0 5px;
  border-radius: 25px;
  background-color: #f3f3f5;
  color: #737373;
}
.input-field .input-emoji {
  position: absolute;
  left: 20px;
  top: 15px;
  cursor: pointer;
}
.input-field .mes-input {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 46px;
  margin-right: 46px;
  font-size: 20px;
  background-color: transparent;
}
.input-field .mes-input:hover {
  border: none;
}
.input-field .mes-input:focus {
  color: #000000;
}
.input-field .input-photo {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
.input-field .input-pic {
  overflow: hidden;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 15px;
}
.input-field .input-pic input {
  opacity: 0;
  z-index: 3;
}
.input-field .input-pic label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.message-box {
  display: flex;
  align-items: center;
}
.message-box .message {
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  max-width: 295px;
  word-wrap: break-word;
  font-size: 16px;
  border-radius: 20px;
}
.message-box.message-inc .message {
  margin: 5px auto 5px 5px;
  background-color: #f7f7f7;
  color: black;
}
.message-box.message-sent .message {
  margin: 5px 5px 5px auto;
  background-color: #5b62ba;
  color: white;
}
.message-box .avatar {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 3px;
  background-color: #dedcf1;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}