.mes-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input{
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    margin: 0 5px;
    height: 50px;
    width: calc(100% - 50px);
    color: $color-second;
    background-color: $color-bg-input;
    border-radius: 25px;

    &__emoji{
        position: absolute;
        left: 20px;
        top: 15px;
        cursor: pointer;
    }

    &__text{
        width: 100%;
        margin-left: 46px;
        margin-right: 46px;
        font-size: 20px;
        background-color: transparent;
        outline: none;
        border: none;
        &:hover{
            border: none;
        }
        &:focus{
            color: $color-text-main;
        }
    }

    &__photo{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
    }

    &__pic{
        position: absolute;
        top: 15px;
        right: 20px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        input{
            z-index: 3;
            opacity: 0;
        }
        label{
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
        }
    }
}