.message{
    $this: &;
    
    display: flex;
    align-items: center;
    
    &__text{
        display: inline-block;
        vertical-align: top;
        padding: 15px 20px;
        max-width: 295px;
        word-wrap: break-word;
        font-size: 16px;
        border-radius: 20px;
    }

    &_inc{
        #{$this}__text{
            margin: 5px auto 5px 5px;
            color: $color-text-main;
            background-color: $color-inc;
        }   
    }

    &_sent{
        #{$this}__text{
            margin: 5px 5px 5px auto;
            color: $color-text-2;
            background-color: $color-main;
        }
    }

    &__avatar{
        margin-right: 3px;
        width: 35px;
        height: 35px;
    }

    &__img{
        max-width: 150px;
        max-height: 200px;
    }

}