.select{
    position: relative;
    border: none;
    transition: .3s;

    &__header{
        cursor: pointer;
        span{
            font-size: 18px;
        }
        i{
            width: 9px;
        }
    }

    &__content{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        visibility: collapse;
    }

    &__item{
        font-size: 18px;
        line-height: 24px;
        cursor: pointer;
    }

    &.active{
        .icon-down{
            visibility: hidden;
        }
    }
}