$color-main: #5b62ba;
$color-2: #737373;
$color-3: #dcdcdc;
$color-inc: #f7f7f7;

$color-text-main: #000000;
$color-text-2: #ffffff;

$color-bg-av: #dedcf1;
$color-av: #000000;

$color-bg-input: #f3f3f5;

$bsh-chat: inset 0 50px 50px -50px #f1f0f5, inset 0 -50px 50px -50px #f1f0f5;